@import '~/styles/shared.scss';

@mixin item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 24%;
  overflow: hidden;
}

.mask {
  @include item;

  background: linear-gradient(180deg, darken($backgroundPrimary, 5%) 0%, transparent 60px);
}
