@import '~/styles/shared';

$linkWidth: 120px;
$linkHeight: 64px;

.container {
  @include shared_container;

  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 12px;
  height: $linkHeight;

  @include media('<=tablet') {
    grid-template-columns: 1fr 1fr !important;
  }
}

.brand {
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
}

.links {
  @include media('<=tablet') {
    display: none !important;
  }
}

.bar {
  width: $linkWidth;
  height: 2px;
  background: $primaryText;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform 0.2s ease;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.command_button {
  display: block;
  color: $primaryText;
}
