@import '~/styles/shared.scss';

.container {
  background: $backgroundSecondary;
  padding: 12px;

  @include media('<=tablet') {
    flex-direction: column !important;
    align-items: center !important;
  }
}

.icon {
  border-radius: 100%;
}

.title_container {
  @include media('<=tablet') {
    justify-content: center !important;
  }

  .title {
    font-size: 24px;
  }

  .hiragana {
    font-size: 16px;
    font-weight: 300;
  }
}

.items {
  @include media('<=tablet') {
    justify-content: center !important;
  }
}
