@import '~/styles/shared';

.line {
  border-top: 1px solid $border;
}

.container {
  padding: 0 0 32px;
  margin-top: 32px;
  width: 100%;
  flex-shrink: 0;
  background-color: rgba($backgroundPrimary, 0.75);
}

.links {
  @include shared_container;

  > a, .item {
    font-size: 14px;
    color: $secondaryText;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.spacer {
  flex-grow: 1;
}
