@import '~/styles/shared.scss';

// todo
.container {
  color: #fff;
}

.header {
  position: relative;

  .cover_image {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    margin: 0 auto;
    border-bottom: 1px solid $border;
  }

  .cover_image_mock {
    border-bottom: 1px solid $border;
  }

  .title_container {
    @include shared_container;

    display: flex;
    margin-top: 20px;
    margin-bottom: -12px;
  }

  .title_container_floating {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
  }

  .title {
    padding: 12px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.8);
    color: $primaryText;
    background: darken($backgroundPrimary, 10%);
    font-family: var(--font-mincho);
    font-weight: 600;
    font-size: 32px;
  }
}

.meta_container {
  @include shared_container;

  .tags {
    max-width: 100%;

    .tag {
      font-size: 18px;
      color: $secondaryText;

      :first-child {
        font-weight: bold;
      }
    }
  }

  .createdAt {
    font-size: 18px;
    color: $secondaryText;
  }
}

.body {
  @include shared_container;

  color: darken($primaryText, 8%);
  font-family: var(--font-mincho);
  font-weight: 400;
  font-size: 20px;
  line-height: 250%;
  letter-spacing: 0.15em;
  word-break: break-word;

  @include media('<=tablet') {
    font-size: 18px;
    line-height: 180%;
  }

  h1,
  h2 {
    margin: 24px 0 10px;
  }

  h3,
  h4 {
    margin: 12px 0 5px;
  }

  video,
  img {
    max-height: 500px;
  }

  img {
    object-fit: contain;
  }

  p {
    padding-top: 4px;
    padding-bottom: 10px;
  }

  img {
    padding: 10px 0;
  }

  ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;

    li::before {
      content: '−';
      color: $border;
      font-weight: 600;
      font-family: var(--font-sans);
      margin-right: 8px;
    }
  }

  li {
    padding: 3px 0;
  }

  img,
  iframe {
    margin: 0 auto;
  }

  img,
  video,
  iframe,
  .twitter-tweet,
  table {
    display: block;
    max-width: 100%;
  }

  iframe,
  .twitter-tweet,
  pre,
  table {
    margin: 10px auto;
  }

  blockquote {
    margin: 10px 0;
    padding: 4px 10px;
    border-left: 5px solid $border;
    color: darken($primaryText, 10%);
  }

  pre,
  code,
  blockquote {
    background: rgba(lighten($backgroundPrimary, 10%), 60%);
  }

  code {
    padding: 2px 4px;
    word-break: break-all;
  }

  pre > code {
    padding: 0;
    background: none;
  }

  pre {
    padding: 10px;
    overflow-x: auto;
  }

  hr {
    border-color: $border;
    margin: 10px 0;
  }

  ul > li > ul {
    margin-left: 1rem;
    padding: 0;
  }

  table {
    overflow-x: auto;
    border-collapse: collapse;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    th,
    td {
      min-width: 100px;
      padding: 8px 12px;
      border: 1px solid $border;
    }
  }
}
