@import '~/styles/shared.scss';

.header {
  position: relative;

  .cover_image {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    margin: 0 auto;
    border-bottom: 1px solid $border;
  }

  .cover_image_mock {
    border-bottom: 1px solid $border;
  }

  .title_container {
    @include shared_container;

    display: flex;
    margin-top: 20px;
    margin-bottom: -12px;
  }

  .title_container_floating {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
  }

  .title {
    padding: 12px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.8);
    color: $primaryText;
    background: darken($backgroundPrimary, 10%);
    font-family: var(--font-mincho);
    font-weight: 600;
    font-size: 32px;
  }
}

.meta_container {
  @include shared_container;

  @include media('<=tablet') {
    flex-direction: column;
  }

  .tags {
    max-width: 100%;

    .tag {
      font-size: 18px;
      color: $secondaryText;

      :first-child {
        font-weight: bold;
      }
    }
  }

  .createdAt {
    font-size: 18px;
    color: $secondaryText;
    flex-shrink: 0;
  }
}

.body {
  @include shared_container;
  @include markdown_layouts;

  color: darken($primaryText, 8%);
  font-family: var(--font-mincho);
  font-weight: 400;
  font-size: 20px;
  line-height: 250%;
  letter-spacing: 0.15em;
  word-break: break-word;

  @include media('<=tablet') {
    font-size: 18px;
    line-height: 180%;
  }
}
