@import '~/styles/shared';

.navbar {
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  width: 100%;
}

.container {
  height: 100vwh;
  height: 100vh;
  user-select: none;
}

.text {
  color: $secondaryText;
}
