@import '~/styles/shared.scss';

.container {
  @include dynamic_viewport_height;
}

.main {
  @include shared_container;
  color: $primaryText;
}

.body {
  @include markdown_layouts;

  border: 0.5px solid $border;
  border-radius: 12px;
  padding: 12px 24px;
}

.footer {
  color: $secondaryText;

  a {
    color: $secondaryText;
  }

  .supporters_link {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  @include media('<=tablet') {
    flex-direction: column !important;
  }
}
