@import '../../styles.module.scss';

.link {
  display: block;
  width: $linkWidth;
  height: $linkHeight;
  line-height: $linkHeight;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  position: relative;

  &[data-active] {
    font-weight: 600;
  }
}
